# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
terraform-provider-outpost

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# goreleaser
dist/

